.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-css-stars .br-widget a {
	height: 20px;
	width: 20px;
	font-size: 18px;
	text-decoration: none;
	margin-right: 4px;
}
.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: white;
  font-size: 18px;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

@media screen and (min-width:1200px)
{
	.br-theme-css-stars .br-widget a {
		height: 28px;
		width: 28px;
		font-size: 24px;
	}
	.br-theme-css-stars .br-widget a:after {
		font-size: 24px;
	}
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: #fdee21;
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #fdee21;
}
.br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-css-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-css-stars .br-widget a:after {
    content: "\2606";
    color: black;
  }
  .br-theme-css-stars .br-widget a.br-active:after,
  .br-theme-css-stars .br-widget a.br-selected:after {
    content: "\2605";
    color: black;
  }
}
