@media only screen and (min-width: 320px) and (max-width: 480px) {
	.mobile-hide{
    	display: none;
    }
	.mobile-view{
    	display: inline;
    }
    .headerfull {
        height: auto;
    }
    .col-centered {
        width: 100%;
    }
    .wk-content-search p {
        font-size: 18px;
    }
    .set-search {
        position: initial;
        text-align: center;
        margin-top: 10px;
    }
    .wk-10 {
        width: 100%;
        padding-left: 0px;
    }
    .styleindex-input input {
        font-size: 18px;
    }
    .styleindex-input input::-webkit-input-placeholder {
        position: relative;
        left: 0;
    }
    .wsmenucontainer.wsoffcanvasopener {
        margin-left: 0px;
    }
    .wk-2 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    a.searchgo {
        padding: 10px 5px 10px 5px;
    }
    .wk-container-nav {
       
    }
    .headertopright{
    	width: 100%;
		margin-left:0;
		position:fixed;
    }
      .headertopright a .fa {
        margin-right: 0px;
    }
    section.footer{
    	padding: 10px 5px 25px 0px;

    }
    section.footer p{
    	font-size: 14px;
    }
    section.bg-full{
    	min-height: 450px;
    }
    .img-nav-search{
    	right: 5px;
    	top:55px;
    }
	.box_coment_content{
		padding:0 10px 0 10px;
	}
	.side_menu {
	}
	.side_menu2 {
	}
	.side_contact{
		min-height:300px;
		height: 65vh;
	 }
	 .side_about{
		min-height:300px;
		height: 65vh;
	 }
	.form_contact{width:100%; margin-bottom:20px;}
	section.nobg{ margin-top:0px;}
}
@media screen and (min-width:781px)
{
	ul.mobile-sub{
		height:64px;
	}
}
@media only screen and (max-width: 503px) {

	section.bg-full2 {
		min-height:260px;
	}
	section.nobg{ margin-top:0px;}
	.btn-city {
		margin-left: -20px;
	}
	.searchgo{padding:10px;}
	.mobile-view{
    	display: inline;
    }
	.headtoppart {}
	.wk_login_tagline{
		font-size:18px;
	}
	.nav-center > li {
		width:100px;
	}
	.nav-center > li > a {
		padding: 0 0 0 0;
	}
	.nav-center > li > a > img {
		width:100px;
	}
	.box-coment{
		height:100px;
	}
	.box-coment > p{
		font-size:16px;
		margin-left:30px;
		text-align:center;
		padding-top:40px;
	}
	.side_menu2 {
	}
	.box-coment img { margin-top:-220px; margin-left:120px;}
.col-centered{
	width:100%;
}
}
@media only screen and (max-width: 780px) {

	.mobile-view{
    	display: inline;
    }
	.col-centered{
		width:100%;
	}
}
@media only screen and (min-width: 481) and (max-width:780px) {
    .wrapper {
        width: 100%;
        margin: 0% 0%;
    }
    .header {
        min-height: 75px;
    }
    .styleindex-input input {
        padding-left: 20px;
        line-height: 50px;
        font-size: 22px;
        width: 100%!important;
        border-radius: 8px;
        color: #666;
    }
    .styleindex-input input::-webkit-input-placeholder {
        position: relative;
        left: 0%;
    }
    .col-centered {
        position: relative;
        top: 0;
        left: 0;
        transform: inherit;
    }
    .logo {
        display: none !important;
    }
    .header {
        box-shadow: none !important;
        background-image: none !important;
    }
    .colorlink01 {
        width: 92% !important;
        margin: 0% 4%;
    }
    .colorlink02 {
        width: 92% !important;
        margin: 0% 4%;
    }
    .colorlink03 {
        width: 92% !important;
        margin: 0% 4%;
    }
    .buttoncolor02 {
        width: 100% !important;
        margin-bottom: 2%;
    }
    .buttoncolor {
        width: 25%;
    }
    .moreoption {
        width: 100%;
        margin: 85px 0 0 0;
        background-color: transparent !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .headtoppart {
        margin-top: 52px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .topmenusearch {
        margin: 0px 0 0;
        width: 100%;
    }
    .topmenusearch input:focus {
        width: 100%;
    }
    .posrlt {
        width: 240px;
        float: none;
    }
    .headerright {
        width: 100%;
        float: none;
    }
    .headertopleft {
        float: none;
        width: 96%;
        margin: 0% 2%;
    }
    .headertopright{
    	width: 100%;
		margin-left:0;
		position:fixed;
    }
    .address.clearfix:before,
    .address.clearfix:after {
        content: "";
        display: table;
    }
    .address.clearfix:after {
        clear: both;
    }
    .address.clearfix {
        zoom: 1;
    }
    .headertopleft {
        display: none;
    }
    .headerfull {
        height: auto;
    }
    .headertopright a {
        width: 24%;
        text-align: center;
    }
     .mobiletext02 {
        display: inline-block;
    }
    .mobile-hide{
    	display: none;
    }
	.box_coment_content{
		padding:0 10px 0 10px;
	}

}

@media only screen and (min-width: 781px) and (max-width:1064px) {

    .wrapper {
        width: 96%;
        margin: 0% 2%;
    }
    .colorlink01 {
        width: 100% !important;
        margin: 0%;
    }
    .colorlink02 {
        width: 100% !important;
        margin: 0%;
    }
    .colorlink03 {
        width: 100% !important;
        margin: 0%;
    }
    .buttoncolor02 {
        width: 50% !important;
        margin-bottom: 1%;
    }
    .logo {
        float: none !important;
        margin: 0 auto !important;
        width: 100% !important;
        text-align: center;
    }
    .wk-content-search{
    	width: 80%;
    }
    .img-nav-search{
    	top: 25px;
    }
    .headertopright{
    	width: 100%!important;
		margin-left:0;
    }
	.box_coment_content{
		padding:0 20px 0 20px;
	}

}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
    .wrapper {
        width: 96%;
        margin: 0% 2%;
    }
    .colorlink01 {
        width: 100% !important;
        margin: 0%;
    }
    .colorlink02 {
        width: 100% !important;
        margin: 0%;
    }
    .colorlink03 {
        width: 100% !important;
        margin: 0%;
    }
}

@media only screen and (min-width: 1400px) and (max-width:1900px) {
section.bg-full{ 
	min-height: 560px;

}
.col-centered{
	top: 40%;
}


}


.col-lg-8.col-xs-12{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:15px;
}
div.row{
	margin-left:0 !important;
	margin-right:0 !important;
}
.lnk-back-to-list{
	padding-left:15px;
}
.input-group.plus-minus{
	min-width:110px;
}

@media screen and (min-width:1000px)
{
	.col-lg-4 {
		width: 33.33333333%;
	}
	.col-lg-8{
		width: 66.66666666%;
	}
	.col-lg-5.col-xs-4 {
		float: left;
	}
}
@media screen and (min-width:600px) and (max-width:999px)
{
	.col-lg-4 {
		width: 100%;
	}
	.col-lg-5.col-xs-4 {
		width:20%;
	}
	.col-lg-7.col-xs-8
	{
		width:80%;
	}
}
@media screen and (max-width:599px)
{
	.col-lg-5.col-xs-4 {
		float: none;
		width:100%;
	}
	.col-lg-7.col-xs-8
	{
		float: none;
		width:100%;
	}
}
@media screen and (max-width:999px)
{
.side_menu2 .col-lg-offset-1.col-lg-10{
	padding-left:0;
	padding-right:0;
}
}
.product-image img{
	vertical-align:bottom;
	width:calc(100% - 15px);
}
.list-group-item{
}
.list-group-item > .row{
	position:relative;
}
.product-info-item{
	display:table-cell;
}
.product-info-group .product-info-item:last-child{
	border-right:none;
}
.product-info-group .product-info-item{
	padding-right:5px;
	padding-left:5px;
}
.info-group-3{
	display:table-row;
	width:100%;
}
.info-group-3 > div{
	display: table-cell;
	width: 50%;
	padding-right: 20px;
	white-space: nowrap;
	box-sizing: border-box;
}





.info-group-3 .info-arah{
	text-align:right !important;
	width:20px;
}
.info-rating img{
	width:16px;
}
@media screen and (max-width:599px)
{
	.product-image{
		float:left;
		width:150px;
		position:relative;
	}
	.info-semua{
		width: calc(100% - 150px);
	}
	.product-info-group{
		margin-left: 200px;
		display: block;
		width: calc(100% - 150px);
		margin-bottom: 20px;
		margin-top:10px;
	}
	.info-semua{
		margin-left: 150px;
		display: block;
		width: calc(100% - 150px);
	}
}
@media screen and (max-width:480px)
{
	.info-group-3 > div{
		display:block;
		font-size:11px;
	}
}
.clear{
	clear:both;
}
@media screen and (min-width:600px){
	.clear{
		display:none;
	}
}
@media screen and (min-width:600px) and (max-width:999px)
{
	.product-image{
		float:left;
		width:33.3333%;
		position:relative;
	}
	.info-semua{
		width: 66.666%;
	}
	.product-info-group{
		margin-left: 33.33333%;
		display: block;
		width: 66.66666%;
		margin-bottom: 20px;
		margin-top:10px;
	}
	.info-semua{
		margin-left: 33.33333%;
		display: block;
		width: 66.66666%;
	}
}
@media screen and (min-width:1000px)
{
	.product-image{
		float:left;
		width:20%;
		position:relative;
	}
	.info-semua{
		width: 80%;
	}
	.product-info-group{
		margin-left: 20%;
		width: 80%;
		display: block;
		margin-bottom: 20px;
		margin-top:10px;
		max-width:600px;
	}
	.info-semua{
		margin-left: 20%;
		width: 80%;
		display: block;
	}
}

@media screen and (max-width:599px)
{
	.product-info-group{
		margin-left: 0;
		display: block;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	#btn_back_shop, #btn_checkout{
		font-size:9px;
	}
}


@media screen and (max-width:599px)
{
	.cart-table > thead > tr > th,
	.cart-table > thead > tr > td,
	.cart-table > tbody > tr > td,
	.cart-table > tfoot > tr > td
	{
		padding:8px 0;
		font-size:11px;
	}
	.cart-table .input-group button, .cart-table .input-group input{
		font-size:10px;
		
	}
	.cart-table .input-group .input-sm{
		height:27px;
	}
	.cart-table .input-group.plus-minus{
		width:100px;
		min-width:100px;
	}
	.cart-table .btn-xs, .cart-table .btn-group-xs > .btn
	{
		font-size:10px;
	}
}