body {
	background-color: #f3f3f3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right:0px !important;
 
}
.mobile-view{
	display: none;
}
.datepicker{z-index:1151 !important;}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	min-width: 320px;
}
.header {
	width: 100%;
	display: block;
	min-height: 214px;
	padding-top: 0px;
}
.headerwp {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	z-index:1000;
}
.headerfull {
	width: 100%;
	background-color: #ffffff;
	min-height: 75px;
}
.posrlt {
	position: relative;
}
.headtoppart {
	/*
	display: block;
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px;
	min-width: 320px;
	*/
}

.headertopright {
	text-align: right;
	/*
	width: 50%;
	margin-top: 10px;
	margin-left:580px;
	float: right;
	z-index:999;
	position:absolute;
	*/
}
.headertopright a {
	line-height: 10px;
	text-decoration: none;
	color: #259C00;
	font-size: 12px;
	padding: 0px 15px;
	display: inline-block;
}
.headertopright a.bordercenter {
	border-left: 1.2px solid #878787;
	border-right: 1.2px solid #878787;
}
.headertopright a:hover {
	 color: #D47431;
	 font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mobile-hide{
	display: block;
}
.norlt {
	position: static;
}
.menuwrapper {
	position: relative;
}
.show-grid {
	background-color: #fff;
}
.btn-border {
	border: 2px solid;
	border-radius: 40px;
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	-moz-user-select: none;
	background-image: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	padding: 15px 40px;
}
.btn-border:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
}
.btn-border:focus {
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
}
.moreoption {
	width: 100%;
	display: block;
	margin-top: 290px;
}
.moreoption .boxheader {
	border: solid 0px;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 17px;
	color: #fff;
}
.mobiletext02 {
	display: none;
}
.buttoncolor {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 10px 15px;
	text-decoration: none;
	transition: background 0.3s linear 0s;
	width: 12.5%;
	height: 30px;
	float: left;
	text-align: center;
	margin: 0px 0px;
}
.buttoncolor:hover {
	color: #fff;
	text-decoration: none;
}
.buttoncolor:focus {
	color: #fff;
	text-decoration: none;
}
.buttoncolor03 {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 10px 15px;
	text-decoration: none;
	transition: background 0.3s linear 0s;
	width: 12.5%;
	height: 30px;
	float: left;
	text-align: center;
	margin: 0px 0px;
}
.buttoncolor03:hover {
	color: #fff;
	text-decoration: none;
}
.buttoncolor03:focus {
	color: #fff;
	text-decoration: none;
}
.headertlt {
	width: 100%;
	padding: 40px 0px 15px 0px;
	letter-spacing: -0.5px;
	font-size: 22px;
	font-family: 'archivo_narrowregular';
	color: #424242;
}
 
.main-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


.headerfull{
	border-bottom: 5px solid #259B00;	
}
.styletriangle:before{
  content:"";
    position: absolute;
    right: 0px;
    top:  0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
      -ms-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg);  
    transform: rotate(-90deg);
    border-color: transparent transparent #A5D800 transparent;
    /*z-index:9999;*/
}
.styletriangle:hover::before{
	display: none;
}
a.active::before{
	display: none;
}
.wk-nav-list{
	position: relative;
	left: 10px;
	top: 5px;
}
a.wk-promo-nav-list{
	background:#A5D800!important;
	color:#1E431B!important;

}
section.bg-full{ 
	margin-top: -28px;
	min-height: 490px;
  background: url(../images/content/bg01.jpg) no-repeat center center  !important; 
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}
section.bg-full2{ 
	margin-top: -28px;
	min-height: 460px;
  background: url(../images/content/bg02.jpg) no-repeat center center  !important; 
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}
section.bg-full3{ 
	margin-top: -28px;
	min-height: 490px;
	background: url(../images/content/bg03.jpg) no-repeat center center  !important; 
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
section.nobg{ 
	/*
	margin-top: -28px;
	*/
	min-height: 300px;
}
.wk-container-nav{
 
}
.col-centered{
 	position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  
}
.wk-content-search{
	max-width:780px;
	margin:auto;
}
.wk-content-search {
	color: #fff;
	padding-top:100px;
}
.wk-content-search p {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px;
}
 
}
.pr-0{
	padding-right: 0px;
}
.set-search{
	position: relative;
	top: 10px;
	text-align:center;
}
input:focus{
	outline: none!important;
}
.styleindex-input input {
	padding-left: 20px;
	 line-height: 50px;
	font-size: 22px;
	width: 100%!important;
	border-radius: 8px;
	color: #666;

}
.styleindex-input input::-webkit-input-placeholder{
	position: relative;
	 left: 30%;
}
.wk-10{
	margin-top: 10px;
	float: left;
	width: 87%;
	padding-left: 15px;
}
.wk-2{
 	margin-top: 10px;
	float: left;
	width: 13%;
	padding-left: 10px;
	padding-right: 15px;
}
.searchgo{

padding: 11px;
	 background: #0AA41C;
	 border-color: #0AA41C; 
 
}
.searchgo:active{
	 background: #189718!important;
	 border-color: #189718!important; 

}
.searchgo:focus{
	 background: #189718!important;
	 border-color: #189718!important; 

}
.searchgo:hover{

 
	 background: #189718;
	 border-color: #189718; 
 
}

a.go-search:hover{
	text-decoration: none;
}
section.footer{
	  
  padding: 40px 20px 25px 20px;
	background: #272628;

}
section.footer p{
	font-size: 14px;
	color: #959396;
	letter-spacing: 1px;
}
.tag-menu a{
	display: inherit;
		color: #959396;
	line-height: 2;

}
section.footer .footer-social{
	display: inline-block;
}
section.footer .footer-social-dwn img{
	margin-top: 20px;

}
section.footer  .nav-foot{

	padding-top: 20px
}
section.footer .wk-reserved p {
	margin-top: 10px;
	font-size: 12px;
}
.btn-city{ width:80px;}
a.btn-locationseting{
 font-size: 18px;
 padding: 28px  0px 15px 0px;
 height:80px;
 background: url(../images/content/search1.png) no-repeat !important;
 -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
 border:none;
}
.style-btnlocation{
	/*padding-left: 0px;
	width: 90%;*/
	margin-bottom: 15px;
}
 .img-nav-search{
 	cursor: pointer;
position: absolute;
right: 10px;
top: 25%;
 }
 .img-nav-search:hover{
 	opacity: .9;
 }
 .nav-st{
 	float: left;
 	width: 10%;
 }
 .nopadding{
	padding:0px;
 }
 .side_wiku{
	background-color:#E5FBE5;
	position:inherit;
	color:#259B00;
 }
 
 .side_about{
	background-color:#E5FBE5;
	position:inherit;
	min-height:100vh;
	/*height: ;*/
	color:#259B00;
	margin-top: 30px;
 }
 
 .side_about section{
	 padding-top:30px;
	 margin-bottom:10px;
	 
 }
 .side_about .konten img{
	 margin-top:30px;
	 margin-bottom:30px;
	 width:50%;
	 
 }
 .side_menu{
	background-color:#E5FBE5;
	position:inherit;
	min-height:700px;
	height: 150vh;
	color:#259B00;
 }
 .side_menu img{
	 margin-right:5px;
	 margin-bottom:5px;
 }
 .side_menu section{
	 padding-top:30px;
	 margin-bottom:10px;
	 
 }
 .btn_about{
	 padding:0 10px 0 10px;
 }
 .content_about{
	 padding:30px 0 10px 0;
 }
 .content_tab{
	 padding:80px 20px 10px 20px;
	 background-color: #e9fbea;
	 margin-top:-80px;
	 margin-bottom:40px;
 }
 .side_contact{
	/*background:#E5FBE5!important;*/
	min-height:500px;
	height: 100vh;
	color:#259B00;
 }
 .form_contact{width:70%;}
 .wk_style { color : #259B00}
 .wk_white { color : white;}
 .wk_black { color : black;}
 .side_contact section{
	 padding-top:30px;
	 margin-bottom:10px;
	 
 }
 .side_contact .imgicon{
	 margin-top:30px;
	 margin-bottom:30px;
	 
 }
 .side_contact .contact_info{
	 margin:0 20px 0 20px;
 }
 .side_contact .contact_info p{
	 margin-top:20px;
 }
 .wk_header_text{
	 font-size:16px;
	 font-weight:bold;
	 padding-top:5px;
 }
 .rating{
	 padding:5px 0 5px 10px;
 }
 .direction{
	 padding:30px 0 10px 0;
 }
 .dropdown-menu{
	background:#E5FBE5!important;
 }
 .dropdown-menu li {
	height: 35px;
 }
 .bootstrap-datetimepicker-widget.dropdown-menu li{
	 height:auto;
	 top:0;
 }
 .dropdown-menu li a{
	color : #259B00;
	font-size:13px;
	padding-top:5px;
	padding-bottom:5px;
 }
 .wk-container-1{
	 z-index:1;
 }
 .text-cart{
	 color:#fc7d07;
	margin-left:5px;
}
 .badge-warning{ 
	background-color:#fc7d07; 
	margin-left:5px;
}
.wk_login_tagline{
	font-size:24px;
	margin:40px 0 40px 0;
}
.wk_content_desc{
 min-height:400px;
 padding:10px 0 10px 0;
}
.box-comment{
	background-color:#00a700;
	padding : 10px 0 10px 0;
	font-size:16px;
	height:40px;
	color:white;
}
.box-comment-inner{
	max-width:360px;
	margin:auto;
	position:relative;
}
.box-comment-inner img{ 
	top: -26px;
	left: -60px;
	height:70px;
	position:absolute;
}
@media screen and (max-width:550px)
{
	.box-comment-inner{
		max-width:260px;
		font-size:12px;
		padding-top:2px;
	}
}

.box_coment_content{
	margin-top:30px;
	padding:0 80px 0 80px;
}
.wk_header_order{
	padding: 5px 10px 5px 10px;
	margin-bottom:10px;
}
.wk_rate_merchants{
	margin-bottom:5px;
}
.wk_rate_rating{
	padding-bottom:5px;
	padding-left:20px;
	background-color:rgba(187, 187, 187, 0.11);
}
.btn-rating{
	padding-top:5px;
}
.wk_search_order{ margin-bottom:20px;}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #259B00;
}
.modal-city{
	background-color:#73F07B;
}
.tab-merchant-menu{
	background-color:#226b0b;
	padding: 10px 10px 10px 10px;
}
.tab-merchant-menu a{
	color:white;
}
.tab-merchant-menu .active{
	background-color: #3bb913;
}
.tab-merchant-menu > li > a:hover,
.tab-merchant-menu > li > a:focus {
  text-decoration: none;
  background-color: #3bb913;
}
.paketheader{ margin:20px 0 20px 0;}
.header-info-menu { padding:10px 0 10px 0; margin-bottom:20px;}
.wk_filter  {
	border:0px;
	background-color:transparent;
}
.wk_city  {
	background-color:#EFFDF0;
}
.wk_order {
	background-color:#E3FCE6;
}
.wk_payment{
	background-color:#15a91f;
	color:white;
}
.wk_info_space{
	border-right:2px #76cc80 solid;
	height:70px;
	width:12%;
	text-align:center;
}
.wk_info_space .wk_style{
	min-height:26px;
	display:inline-block;
}
.infobox .col-lg-3 img{
	margin-top:15px;
}
.wk_reward1{
	background-color:#ff670f;
	color:white;
}
.wk_reward2{
	border:1px #ff670f solid;
	color: #ff670f;
}
.wk_reward3{
	border:1px #76cc80 solid;
	color: #76cc80;
}
.list-group-item .pricing{
	text-align:center;
}
.wk_turun_dikit{
	padding-top:5px;
}
.wk_header_text.wk_turun_dikit{
	padding-top:13px;
}
.nav-center > li {
  float: left;
  margin-bottom: -1px;
}
.nav-center  > li > a:hover,
.nav-center  > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.btn-orange{
	background-color:#FC7903;
}
.btn-ww{
	background-color:#ECFDEB;
}
.btn-ww2{
	background-color:#E9FCE9;
	color:#00AA0C;
}
.btn-yellow{
	color: #fc7903;
    background-color: #f6e842;
    border-color: #f6e842;
}
.pg2{
	border-bottom: 1px solid #25a081;
}
.teks-orange{color:#FC973D}
.kontak_space{ margin-bottom:10px;}
.btn-toggle{
	margin-top:10px;
	background-color:#73F07B;
	padding:5px 5px 5px 5px;
}
.btn-toggle2{
	margin-top:10px;
	background-color:#E3FCE6;
	padding:5px 5px 5px 5px;
}
.nav_order{
	border: 1px solid #259b00;
    border-radius: 3px;
	color:#259b00;
	width:100%;
}
.modal_logreg{
	border: 4px #5cb85c solid;
}
.footer_reg{
	border-top: 1px solid #fc7903;
    background-color: #fc7903;
}
@media screen and (max-width:780px)
{
	.headtoppart{
		height:56px;
		background-color:#ffffff;
	}
}
@media screen and (min-width:781px)
{
	.headtoppart{
		height: 39px;
		background-color:#ffffff;
		position:absolute;
		right:0;
		top:0;
		z-index:1000;
	}
}
.wsmenu-list2{
	display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
	justify-content:space-between;
    align-items:stretch;
	margin: 0 0px;
	padding:0;
}
.wsmenu-list2 > li {
    text-align: center;
    display: block;
    padding: 10px 0;
	font-size:10px;
	background: #E5FBE5;
	width:50%;
	flex-basis:auto;
	-webkit-flex: 1;
    flex: 1;
	height:56px;
	margin: 0 0px;
}
.wsmenu-list3{
	display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
	justify-content:space-between;
    align-items:stretch;
	margin: 0 0px;
	padding:0;
}
.wsmenu-list3 > li {
    text-align: center;
    display: block;
    padding: 10px 0;
	font-size:10px;
	background: #E5FBE5;
	width:33%;
	flex-basis:auto;
	-webkit-flex: 1;
    flex: 1;
	height:56px;
	margin: 0 0px;
}

.wsmenu-list3 .menu-promo {
    text-align: center;
    display: block;
    padding: 20px 10px 10px 10px;
    margin: 0 5px 5px 0;
    float: left;
    width: 70px;
	font-size:10px;
	background: #E5FBE5;
	height:59px;
}
#cta3 {
    background: #242a33 url(../images/content/linegreen.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-color: #fffbb4;
    color: #fff;
    padding-top: 70px;
}
#joinus {
    background: #333333 url(../images/content/bgjoin.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
.form_join {
    border: 4px solid #fff;
    padding: 10px 40px;
    background: #fff;
    width: 500px;
    border-radius: 30px;
}
#contactLink {
    position: absolute;
    background-color: #006306;
    margin-left: -38px;
    margin-top: 20px;
    height: 50px;
    width: 488px;
    /* background-image: url(images/send.png); */
    display: block;
    cursor: pointer;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

@media screen and (max-width:780px)
{
	.mobile-hide{
		display:none;
	}
}




.location-trigger{
	position:relative;
	max-width:800px;
	width:calc(100% - 0px);
	margin:20px auto;
	display:table;
}
.location-trigger-bar{
	width:calc(100% - 70px);
	display:table-cell;
}
.location-trigger-button{
	width:70px;
	display:table-cell;
	vertical-align: top;
}
.location-trigger-bar a{
	text-decoration:none;
	background:url(../images/content/trigger-bar.png) no-repeat right top;
	height:64px;
	display:block;
	width:100%;
	vertical-align:middle;
	text-align:center;
	color:#FFFFFF;
	font-size:20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 19px;
	padding-top: 18px;
	box-sizing: border-box;
}
.location-trigger-bar input[type="text"]{
	padding: 13px;
	vertical-align: bottom;
	margin-bottom: 0;
	width: calc(100% - 10px);
	font-size: 18px;
	font-size: Tahoma;
	line-height: 1.3;
	border: none;
	color: #555555;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}

.location-trigger-button{
	position:relative;
}
.location-trigger-button a{
	text-decoration:none;
	background:url(../images/content/trigger-button.png) no-repeat right top;
	height: 82px;
	width: 80px;
	display: block;
	top: -7px;
	right: 0px;
	position: absolute;
}
.location-trigger-button .searchgo{
padding: 13px;
background: #0AA41C;
border-color: #0AA41C;
line-height: 1.3;
}
.rating img{
	height:14px;
	vertical-align:middle;
}

/*
.container.wk_style tbody td .input-group{
	width:100px;
	margin:auto;
}
.form-group.clearfix .input-group{
	width:100px;
	float:right;
}
*/
/*menu style*/
/*.respmenu {
	position: none!important;
	width: 100%;
}*/